---
title: "About | Tanglefoot Digital | Logan Utah"
description: "Tanglefoot was born from a simple truth: success comes from unwavering reliability and a willingness to shoulder the heavy loads."
preloadImg: "/assets/images/Mount Timpanogos background.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/Mount Timpanogos background.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/Mount Timpanogos background.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/Mount Timpanogos background.jpg"
                alt="mount timpanogos"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/Mount Timpanogos with Pine Trees.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/Mount Timpanogos with Pine Trees.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/Mount Timpanogos with Pine Trees.jpg"
                        alt="mount timpanogos"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/Jackson Barlow.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/Jackson Barlow.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/Jackson Barlow.jpg"
                        alt="jackson barlow"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">The Story Behind Tanglefoot</h2>
                <p class="cs-text">
                    Like the sturdy pack mules that once carried prospectors through treacherous mountain paths, <strong>Tanglefoot was born from a simple truth:</strong> success comes from unwavering reliability and a willingness to shoulder the heavy loads.
                </p>
                <p class="cs-text">
                    We saw too many businesses struggling with -underdeveloped websites, -confusing pricing, and missed customers. That's why we founded Tanglefoot—to be the dependable partner that businesses deserve
                </p>
                <p class="cs-text">
                    <strong>Our approach is straightforward:</strong> we bring your customers to your business with the same determination as those legendary pack mules.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        We build websites that go the extra mile
                    </p>
                    <span class="cs-name">Jackson Barlow</span>
                    <span class="cs-job">Owner</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="quote"
                        width="136"
                        height="77"
                    />
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
<!--                  Portfolio                    -->
<!-- ============================================ -->

<section id="portfolio-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Portfolio</span>
                <h2 class="cs-title">See What We’ve Built for Our Clients</h2>
            </div>
            <p class="cs-text">
                Explore a selection of our recent projects. Each website is hand-crafted to reflect our clients’ unique brands and business goals. From local businesses to growing startups, we help organizations stand out online and connect with their customers.
            </p>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Portfolio Images.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Portfolio Images.jpeg">
                        <img loading="lazy" decoding="async" src="/assets/images/Portfolio Images.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Portfolio Images 1.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Portfolio Images 1.jpeg">
                        <img loading="lazy" decoding="async" src="/assets/images/Portfolio Images 1.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Portfolio Images 2.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Portfolio Images 2.jpeg">
                        <img loading="lazy" decoding="async" src="/assets/images/Portfolio Images 2.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Portfolio Images 3.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Portfolio Images 3.jpeg">
                        <img loading="lazy" decoding="async" src="/assets/images/Portfolio Images 3.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>  

     <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Need a new website or want to refresh your current one?<br>
                        Please fill out the form below or give us a call!
                    </p>
                </div>
                <label>
                    Name
                    <input
                        required
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Name"
                    />
                </label>
                <label>
                    Email
                    <input
                        required
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Email"
                    />
                </label>
                <label>
                    Phone
                    <input
                        required
                        type="text"
                        id="phone"
                        name="phone"
                        placeholder="Phone"
                    />
                </label>
                <label>
                    How Did You Find Us
                    <input
                        type="text"
                        id="find"
                        name="find-us"
                        placeholder="How did you find us?"
                    />
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea
                        required
                        name="Message"
                        id="message"
                        placeholder="Write message..."
                    ></textarea>
                </label>
                <button
                    class="g-recaptcha cs-button-solid"
                    data-sitekey="6LcN4B0sAAAAANwbG-rUabtq5KHlUbeVGZ0ucGLN"
                    data-callback="onSubmit"
                    data-action="submit"
                    type="submit">
                    Submit Message
                </button>
            </form>
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <script>
                function onSubmit(token) {
                    document.getElementById("cs-form").submit();
                }
            </script>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{ client.email }}"
                    >{{ client.email }}</a
                >
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{ client.phoneForTel }}"
                    >{{ client.phoneFormatted }}</a
                >

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/blue_mountains.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/blue_mountains.jpg"
                        alt="blue mountains"
                        loading="lazy"
                        width="2500"
                        height="1667"
                    />
                </picture>
            </div>
        </div>
    </section>

{% endblock %}
