---
title: 'Hardworking Websites | Tanglefoot Web Design | Logan Utah'
description: 'We deliver custom websites that bring more customers to your doorstep.'
preloadImg: '/assets/images/landing.jpeg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Tanglefoot Digital",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1203">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Hardworking and Hand-coded</span>
            <h1 class="cs-title">Websites That Go the Extra Mile</h1>
            <p class="cs-text">
                Shouldering your website like a reliable pack mule<br>
                We deliver custom websites that bring more customers to your doorstep.
            </p>
            <a href="#pricing" class="cs-button-solid">Get Started</a>
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 2080px)" srcset="/assets/images/Tanglefoot Logo with Rocks.png">
            <source media="(min-width: 2080px)" srcset="/assets/images/Tanglefoot Logo with Rocks.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/Tanglefoot Logo with Rocks.png" alt="Tanglefoot Logo" width="1080" height="1080">
        </picture>
    </div>
    <img class="cs-floater" aria-hidden="true" decoding="async" src="/assets/svgs/Mountain Background.svg" alt="Mountains" width="1465" height="950">
</section>
                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-296">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">We Don't Just Build Websites<br>We Build Experiences</h2>
            <p class="cs-text">
                Your website should work as hard as you do. We build professional websites that turn visitors into customers, not just pretty pages that sit there.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/web-design">
                    <img class="cs-icon" src="/assets/svgs/paintbrush home.webp" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Website Design</h3>
                    <p class="cs-item-text">
                        Full range of shipping disputes such as charter party disputes, demurrage claims, purchase agreements, trade finance, carriage and claims.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/coding.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/coding.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/coding.jpg" alt="coding" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/google-ads" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/google ads.webp" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Google Ads</h3>
                    <p class="cs-item-text">
                        Full range of shipping disputes such as charter party disputes, demurrage claims, purchase agreements, trade finance, carriage and claims.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/google_ads.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/google_ads.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/google_ads.jpg" alt="google ads" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/social-ads" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/social media ads.webp" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Social Media Ads</h3>
                    <p class="cs-item-text">
                        Full range of shipping disputes such as charter party disputes, demurrage claims, purchase agreements, trade finance, carriage and claims.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/social_media_ads.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/social_media_ads.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/social_media_ads.jpg" alt="social media" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/web-design">
                    <img class="cs-icon" src="/assets/svgs/seo services.webp" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">SEO Services</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/seo_services.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/seo_services.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/seo_services.jpg" alt="page speed" width="413" height="266" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1876">
    <div class="cs-container">
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
            <picture class="cs-picture">
                    <source media="(max-width: 500px)" srcset="assets/images/Phone and Computer.png">
                    <source media="(min-width: 501px)" srcset="assets/images/Phone and Computer.png">
                    <img loading="lazy" decoding="async" src="assets/images/Phone and Computer.png" alt="phone and computer" width="630" height="877">
                </picture>
                <picture class="cs-background">
                    <source media="(max-width: 500px)" srcset="assets/images/Background Image Why Choose Us.png">
                    <source media="(min-width: 501px)" srcset="assets/images/Background Image Why Choose Us.png">
                    <img loading="lazy" decoding="async" src="assets/images/Background Image Why Choose Us.png" alt="phone and computer" width="630" height="877">
                </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Custom hand-coded websites that work harder, load faster, and look sharper</h2>
            <p class="cs-text">
                Shouldering your digital challenges with unbreakable determination. Flexible solutions tailored to your needs, delivering performance that goes the extra mile.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    100% Hand-Coded Websites
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Lightning-Fast Load Times
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    SEO-Optimized Structure
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Mobile-First Design
                </li>
            </ul>
            <a class="cs-button-solid" href="\contact">Learn More</a>
        </div>
    </div>
</section>
                                
    <!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1087">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper" id="pricing">Pricing</span>
            <h2 class="cs-title">Simple & Transparent Pricing</h2>
            <p class="cs-text">
                Transparent, upfront pricing starting at $150/mo. Every pixel, every line of code—meticulously hand-crafted to your exact specifications  
                <br>
                <strong>Flexible monthly subscriptions</strong>

            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Lump Sum</span>
                <span class="cs-price">$3,000</span>
                <p class="cs-item-p">
                    Pay for your custom coded website all up front
                </p>
                <a href="\contact" class="cs-button-solid cs-price-button">Get Started</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design and Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hand Coded
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$25/Month Hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$50/Month Unlimited Edits Add-on
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 Add a Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18" >
                    </li>
                    <li class="cs-li cs-disabled">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        E-Commerce
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">Monthly</span>
                <span class="cs-price">$149.99</span>
                <p class="cs-item-p">
                    Pay for your website monthly
                </p>
                <a href="\contact" class="cs-button-solid cs-price-button">Get Started</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design and Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hand Coded
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Includes Hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Unlimted Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 Add a Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Includes Speed Optimization
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Shopify Integration
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Ecommerce/Website Builder</span>
                <span class="cs-price">$249.99</span>
                <p class="cs-item-p">
                    Sell your products online with our Ecommerce plan
                </p>
                <a href="\contact" class="cs-button-solid cs-price-button">Get Started</a>
                <!--<a href="" class="cs-button-solid cs-price-button">Get Started</a> -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design and Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        E-commerce Solutions
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hosting Included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 Add a Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Hand Coded
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                  Portfolio                    -->
<!-- ============================================ -->

<section id="portfolio-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Portfolio</span>
                <h2 class="cs-title">See What We’ve Built for Our Clients</h2>
            </div>
            <p class="cs-text">
                Explore a selection of our recent projects. Each website is hand-crafted to reflect our clients’ unique brands and business goals. From local businesses to growing startups, we help organizations stand out online and connect with their customers.
            </p>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Portfolio Images.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/Portfolio Images.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/Portfolio Images.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Portfolio Images 1.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/Portfolio Images 1.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/Portfolio Images 1.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Portfolio Images 2.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/Portfolio Images 2.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/Portfolio Images 2.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Portfolio Images 3.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/Portfolio Images 3.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/Portfolio Images 3.jpeg" alt="website portfolio" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">This could be you!</h3>
                    <p class="cs-item-text">
                        <strong>Your brand deserves to be here.</strong><br> Contact us today to get a custom website designed that showcases your brand and gets you featured in our portfolio.
                    </p>
                    <span class="cs-fake-link">
                        View Project
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>  
<!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ 

    <section id="reviews-62">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">Don't Just Take Our Word for It</h2>
                <p class="cs-text">
                    Our clients' success stories speak volumes about our commitment to excellence
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile1.png" alt="profile" width="68" height="68">
                    <span class="cs-name">John Doe</span>
                    <span class="cs-desc">Texas</span>
                    <p class="cs-item-text">
                        Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.png" alt="profile" width="68" height="68">
                    <span class="cs-name">Jane Smith</span>
                    <span class="cs-desc">California</span>
                    <p class="cs-item-text">
                        Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" alt="profile" width="68" height="68">
                    <span class="cs-name">Thomas Madden</span>
                    <span class="cs-desc">Texas</span>
                    <p class="cs-item-text">
                        Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                    </p>
                </li>
            </ul>
            <a aria-label="read more reviews" href="" class="cs-button-solid">Read More</a>
        </div>
    </section> -->

<!-- ============================================ -->
<!--                  Pop-Up                    -->
<!-- ============================================ -->

<script src="assets/js/popup.js"></script>
    <div id="popup-overlay" class="popup-hidden">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/popup background.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/popup background.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/popup background.jpg" alt="coding" width="1280" height="568">
        </picture>
            <div class="popup-inner">
                <h2>Try on a Free Homepage!</h2>
                <p>Curious what your dream website could look like? We'll create a custom homepage design just for you. Completely free, no strings attached. Click below to get started.</p>
                <a class="cs-button-solid" href="\reviews">Get Started</a>
            </div>
        </div>
    </div>
                                
    {% include 'sections/cta.html' %}
{% endblock %}